/* Target by Element */

body {
    width: 70%;
    margin: 70px auto;
    padding: 1rem;
}

nav {
    margin: 0;
    padding: 0;
}

hr {
    border-width: 2px;
    border-color: #999;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 5px auto;
}

td {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

form {
    text-align: center;
}

footer {
    border: 2px solid #000;
    margin-top: 1rem;
}

footer p {
    text-align: center;
}

main {
    border: 2px solid #000;
}

/* Target by Class */

.side-nav {
    height: 100%;
    width: 10%;
    margin-top: 55px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000;
}

.centre-text {
    text-align: center;
}

/* Target by ID */

#table {
    padding-left: 1vw;
}

#robit {
    height: 2em;
}
