#dam {
    width: 90%;
    border: 8px ridge grey;
    border-radius: 10px;
}

.sort-arrow {
    float: right;
    font-weight: normal;
}

.clickable:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.reveal {
    text-decoration: underline;
    color: dodgerblue;
}

.reveal:hover {
    color: cornflowerblue;
}

@media screen and (max-width: 576px) {
    #page-top {
        margin-top: 58px;
    }
}

.dark-mode {
    background-color: #1e1e1e;
    color: #ccc;
}